/semana_3/Martes/Apuntes/Componentes/nbproject/private/
/semana_3/Martes/Apuntes/Componentes/build/
/semana_3/MIercoles/MIercoles/nbproject/private/
/semana_3/MIercoles/MIercoles/build/
/semana_3/MIercoles/HolaMundo/nbproject/private/
/semana_3/MIercoles/HolaMundo/build/
/semana_3/MIercoles/java base de datos/nbproject/private/
/semana_3/MIercoles/java base de datos/build/